/* Layout general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.layout {
  display: flex;
  flex-direction: column;
  background-color: #ffffff; 
  color: #111827; 
  min-height: 100vh;
}

/* Header */
.header {
  background-color: #ffffff; 
  color: white;
  justify-content: space-between;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #e5e7eb; 

}

.logo {
  height: 40px;
}

.nav {
  display: flex;
  align-items: center; 
  gap: 1.5rem; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-bar {
  display: flex;
  padding-inline: 1.3rem;
  align-items: center;       
  justify-content: space-between; 
}

.nav a {
  padding-right: 1rem;
  text-decoration: none;
  color: #323232;
  font-weight: bold;
}




.nav li a.active {
  color: #cddc39; 
}

.nav li:last-child a {
  padding: 0.4rem 1.2rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  border-radius: 0.375rem;
  background-color: #C1D72F; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.card{
  margin-top: 1.5rem;
  margin-bottom: 5rem;
 
}
.main {
  flex-grow: 1;
  max-width: 100%;
  padding: 2.5rem 1.5rem; 
  color: #000000; 
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 1.5rem;     
  margin-top: 1.5rem;
}

.contact-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 0.5rem;
  width: 220px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  background: white;
}


.card h2 {
  font-size: 1.75rem;
  font-weight: 400;
  display: flex;          
  align-items: center;    
  gap: 0.75rem;           
}

.card h2::after {
  content: "";
  flex-grow: 1;           
  height: 2px;            
  background-color: #C1D72F;
}

.avatar {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 3px solid #C1D72F;
}

.avatarc {
  width: 50%;
  height: 40%;
  border-radius: 50%;
  margin-bottom: 1rem;

}

.info h3 {
  font-size: 1.09rem;
  margin-bottom: 0.5rem;
} 

.info p {
  color: #6b7280; 
  font-size: 0.875rem; 
  margin-bottom: 1rem;
}

.info {
  padding-inline: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e5e7eb;
}


.favorite {
  border: 1.32px solid #C1D72F; 
  border-radius: 0.35rem;
  padding: 0.25rem;
  background: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.actions {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}


.remove {
  background-color: white; 
  color: #ef4444;
  border: 1px solid #ef4444;
  padding: 0.4rem 0.4rem;
  display: flex;
  border-radius: 0.375rem;
  align-content: center;
  cursor: pointer;
  font-size: 0.875rem; 
}

.trash {
  background-color: white; 
  color: #ef4444;
  border: 1px solid #ef4444;
  border-radius: 0.375rem;
  display: flex;
  align-content: center;
  cursor: pointer;
}
/*
.remove:hover {
  background-color: #ef4444; 
  color: white;
  transition: background-color 0.3s, color 0.3s;
}*/

.iconFavorite {
  width: 20px;
  height: 20px;
  filter: invert(79%) sepia(72%) saturate(375%) hue-rotate(28deg) brightness(132%) contrast(90%);
}

.iconx {
  width: 15px;
  height: 15px;
  filter: invert(28%) sepia(100%) saturate(2000%) hue-rotate(340deg) brightness(95%) contrast(90%);
}

.iconTrash {
  width: 28px;
  height: 28px;
  filter: invert(28%) sepia(100%) saturate(2000%) hue-rotate(340deg) brightness(95%) contrast(90%);
}

